-var pageTitle = "Gsap Scroll"
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/style
    body
        include pug/components/header
        section.animation
            img.paper-plane(src="./img/paper.png" alt="paper")
        include pug/components/footer
        //- Script
        include pug/layout/script